<%= form_with model: User, url: sign_in_path, data: { turbo: false }  do |form| %>

    <div class="my-3 py-2">
        <%= form.label :email %>
        <%= form.text_field :email, class:"form-control", placeholder:"j.doe@plansource.com"%>
    </div>

    <div class="my-3 py-2">
        <%= form.label :password %>
        <%= form.password_field :password, class:"form-control", placeholder:"********"%>
    </div>

    <div class="my-3">
        <%= form.submit "Sign In", class:"btn btn-lg btn-block btn-primary"%>
    </div>
<% end %>