<%= stylesheet_link_tag 'footer.css' %>
<div id="footer">
  <ul id="footer-list">
      <li><i class="fa fa-home" aria-hidden="true" ></i><%= link_to "Home-Page", root_path, class:"footer-items"%></li>
      <li><i class="fa fa-search" aria-hidden="true" ></i><%= link_to "Search", root_path, class:"footer-items"%></li>
      <li><i class="fa fa-plus" aria-hidden="true" ></i><%= link_to "Post", root_path, class:"footer-items"%></li>
      <li><i class="fa fa-user" aria-hidden="true" ></i><%= link_to "Profile", root_path, class:"footer-items"%></li>
  </ul>
</div>